{{#foreach posts}}
    <div class="row">
        <div id="{{id}}" class="{{post_class}} post-wrapper col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

            <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
            <div class="post-time" datetime="{{date format="YYYY-MM-DDTHH:MM:SS"}}">{{date published_at format='Do MMMM YYYY'}}
                {{#author}}<span class="post-author"><a href="{{url}}">{{name}}</a></span>{{/author}}
            </div>
            
            <p class="post-description">{{excerpt words='50'}}</p>
            
            {{#if tags}}
                <span class="post-tag-lead">Tags:</span>
                <ul class="post-tags">
                    {{#foreach tags}}<li><a href="{{url}}" title="{{name}}">{{name}}</a></li>{{/foreach}}
                </ul>
            {{/if}}
        </div>
    </div>
{{/foreach}}

{{pagination}}